# Windows Binaries
*.exe
*.obj
*.lib

# Linux Binaries
*.[oa]
*.[sk]o
*.o.*
*.mod
*.mod.c
*.symvers
*.debug
modules.order
.tmp_versions
**/Linux/build
!**/Linux/Makefile
.*.cmd
.cproject
.project
.settings
.cache.mk
public

# Visual Studio
*.db
*.user
*.tmp_proj
*.aps
*.vssettings
.vs
x64
Win32
Win10Debug
Win10Release
Debug
Release
IntermediateCompilerFiles
enc_temp_folder
out

# Product-Specific
*.laccdb
*.edp
*.cpc
*.dump
dsp.dv
ppm.dv
esif_ufd
dsp_compiler
ppm_compiler
/ESIF/Packages/Database/DSP-*.accdb
/ESIF/Packages/Database/EXPORT
/ESIF/Products/ESIF_UI/index.html
/Build/Linux/Artifacts
/Build/Linux/Upstream
/Build/Windows/Artifacts
/Build/Windows/Packages
/Build/Windows/Klocwork
/DPTF/Linux/build
/DPTF/Linux/Tools/ipftcs/build
/DPTF/Windows/Solution/Build
/DPTF/Windows/Solution/*-Debug
/DPTF/Windows/Solution/*-Release
/DPTF/Windows/Solution/Tools/**/bin
/DPTF/Windows/Solution/Tools/**/obj
/DPTF/Windows/Solution/Tools/**/Core
/DPTF/Windows/Solution/Tools/**/Properties
/DPTF/Windows/Solution/Tools/**/Support
/ContextService/**/bin
/ContextService/**/obj
/ContextService/SampleAppSource/SampleApp_Packager/AppPackages
/ContextService/SampleAppSource/SampleApp_Packager/BundleArtifacts
/ContextService/**/packages
/ESIF/Products/ESIF_UI/Sources/solution/esif_ui_solution/bin/esif_ui_solution.pdb
/ESIF/Products/ESIF_UI/Sources/solution/esif_ui_solution/bin/esif_ui_solution.dll
/ESIF/Products/IPF_UI/Sources/solution/ipf_ui_solution/bin
/ESIF/Products/IPF_UI/index.html
/IPF/Linux